@import url('https://fonts.googleapis.com/css?family=Coda');

body
{
    font-family : 'Coda', sans-serif;
    font-size   : 22px;
}

body.login
{
    background      : url('../images/bg-login.jpg') center;
    background-size : cover;
    display         : flex;
}

body.login div#login
{
    padding : 0 !important;
    /*margin-right : 0;*/
    /*margin-left  : 10%;*/
}

body.login div#login h1
{
}

body.login div#login h1 a
{
    background-image : url('../images/logo.png');
    background-size  : cover;
    height           : 115px;
    width            : 310px;
}

body.login div#login form#loginform
{
    background-color : #0214424f;
    border-radius    : 5px;
}

body.login div#login form#loginform p
{
}

body.login div#login form#loginform p label
{
    color : #ffffff;
}

body.login div#login form#loginform input
{
}

body.login div#login form#loginform input#user_login,
body.login div#login form#loginform input#user_pass
{
    padding       : 5px 10px;
    border-radius : 5px;
    border        : solid 1px silver;
}

body.login div#login form#loginform p.forgetmenot
{
}

body.login div#login form#loginform p.forgetmenot input#rememberme
{
}

body.login div#login form#loginform p.submit
{
}

body.login div#login form#loginform p.submit input#wp-submit
{
    padding     : 5px 30px;
    height      : auto;
    font-weight : 700;
}

body.login div#login p#nav
{
}

body.login div#login p#nav a,
body.login div#login p#backtoblog a,
body.login div#login div.privacy-policy-page-link a
{
    color : white;
}

body.login div#login p#nav a:hover,
body.login div#login p#backtoblog a:hover,
body.login div#login div.privacy-policy-page-link a:hover
{
    color : yellow;
}

body.login div#login p#backtoblog
{

}

body.login div#login p#backtoblog a
{

}

@media (max-width : 1920px)
{
    body.login div#login
    {
        padding            : 30px !important;
        background-color   : #1d1d1d55;
        border-radius      : 10px;
        width              : 460px;
        margin-left        : 12%;
        -webkit-box-shadow : 0 0 3px 3px #d6d6d655;
        box-shadow         : 0 0 3px 3px #d6d6d655;
    }
    
    body.login div#login form#loginform
    {
        background : transparent;
        box-shadow : none;
    }
    
    body.login form
    {
        margin-top : 0;
    }
    
    body.login #nav
    {
        margin : 0;
    }
}

@media (max-width : 1366px)
{
    body.login div#login
    {
        margin-left : 9%;
        width       : 400px;
    }
}